# Python cache files
__pycache__/
*.pyc

# Virtual environment
venv/

# SQLite database
*.db

# raw data
data/

# system files
.DS_Store
Thumbs.db

#repomix
repomix*

# test
zzz.*

#misc
app.py
init_db.py
static/
templates/

.gitignore
